# Dependencies
node_modules/

# Build output
dist/
dist-standalone/
dist-types/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Local env
*.local
